 
<div class="container">
  <div class="row mb-3">

    <div class="col-md-12 d-flex align-items-center">
      <h1>
        <%= @the_board.name %>
      </h1>

      <div class="ms-auto">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#newPostModal">
          Add new post
        </button>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs nav-fill mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab" aria-controls="active-tab-pane" aria-selected="true">Active posts (<%= @active_posts.length %>)</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="expired-tab" data-bs-toggle="tab" data-bs-target="#expired-tab-pane" type="button" role="tab" aria-controls="expired-tab-pane" aria-selected="false">Expired posts (<%= @expired_posts.length %>)</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <% @active_posts.each do |a_post| %>
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h1 class="h6 my-1"><%= a_post.title %></h1>

                <div>
                  Expires on <%= a_post.expires_on.strftime("%b %e, %Y") %>
                </div>
              </div>

              <div class="card-body">
                <%= a_post.body %>
              </div>

              <div class="card-footer">
                Posted on <%= a_post.created_at.strftime("%b %e, %Y") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="expired-tab-pane" role="tabpanel" aria-labelledby="expired-tab" tabindex="0">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
              <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Posted on</th>
                <th>Expired on</th>
              </tr>
              <% @expired_posts.each do |a_post| %>
                <tr>
                  <td><%= a_post.title %></td>

                  <td><%= a_post.body %></td>
                  <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
                  <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
